.rounded-button {
    border: 2px solid #F13C6E;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    height: 40px;
    width: 170px;
}

.rounded-button:hover {
    background-color: #F13C6E;
    color: white;
}
