html, body {
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
    background-color: #E5E5E5;
}
.wrapper{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.container{
  width: 1200px;
}
